.cr{
	border: 1px solid black;
	background : #A8E4A0;
}

.i_s{
	color: #212529;
  background-color: #fff;
  border-color: #3CB371;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(152, 251, 152, 0.25);
}
.cr_el{
	margin-top: 60px;
	margin-left: 20px;

}

.cr_el2{
	
	margin-left: 5px;
}

.crl{
	color: #006400;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}
.bt{
	padding: 5px 10px;
}

.bt1{
	padding: 3px 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
li {
  float: left;
}

li a {
  display: block;
  color: #006400;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #E0FFFF;
}

.active {
  background-color: #04AA6D;
}




.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
