<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_phisics.css') }}">
    <title>Сайт-Помощник для обучения школьного курса физики и робототехники</title>
</head>

<body>
	<ul>
	  <li><a href="/">Главная</a></li>
	  <li><a href="/physics">Физика</a></li>
	  <li><a href="/robotics">Робототехника</a></li>
	  <li><a href="/info">Пособии</a></li>
	  
	  {% if data.auth == False: %}
		<li style = "float:right" ><a  href="/login">Войти</a></li>
	  {% else %}
		<li style = "float:right" ><a  href="/profile">{{data.name}}</a></li>
	  {% endif %}
	  
	</ul>
	
	
	<div style= "margin-top: 60px; margin-left: 20px;" >
	
		<!-- Trigger/Open The Modal -->
		<button id="myBtn" class="button" >Учебники</button>

		<!-- The Modal -->
		<div id="modal_1" class="modal">

		  <!-- Modal content -->
		    <div class="modal-content">
				<div class="modal-header">
				    <span id="close_1" class="close">&times;</span>
				    <h3>Учебники</h3>
				</div>
				<div> 
					<p class = "crl" > Учебники доступны <a href="https://disk.yandex.ru/d/UYdOH8SmMYoCkA" target="_blank"> тут</a></p>
				</div>			
			</div>
		</div>
	</div>
	
	<div class= "cr_el">
		<!-- Trigger/Open The Modal -->
		<button id="myBtn2" class="button" >Задачники</button>

		<!-- The Modal -->
		<div id="modal_2" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span id="close_2" class="close">&times;</span>
					<h3>Задачники</h3>
				</div>
				<div> 
					<p class = "crl" > Задачники доступны <a href="https://disk.yandex.ru/d/e6nAQzlP0JoKSQ" target="_blank"> тут</a></p>
				</div>	
			</div>
		</div>
	</div >
	
	<div class= "cr_el">
		<!-- Trigger/Open The Modal -->
		<button id="myBtn3" class="button">Для учителей</button>

		<!-- The Modal -->
		<div id="modal_3" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span id="close_3" class="close">&times;</span>
					<h3>Для учителей</h3>
				</div>
				<div> 
					<p class = "crl" > Рабочая тетрадь <a href="https://disk.yandex.ru/d/Rj9T2gZOseqx-Q" target="_blank"> тут</a></p>
					<p class = "crl" > Самостоятельные и контрольные <a href="https://disk.yandex.ru/d/d34KO5pBGJnUHA" target="_blank"> тут</a></p>
					<p class = "crl" > Методические рекомендации <a href="https://disk.yandex.ru/d/NsUuAKZy-fi_Ug" target="_blank"> тут</a></p>
					<p class = "crl" > физика для билингвалов <a href="https://disk.yandex.ru/d/W1wN2Lz1zJwMkw" target="_blank"> тут</a></p>
				</div>
				
			</div>

		</div>
	</div>
	
	<div class= "cr_el">
		<!-- Trigger/Open The Modal -->
		<button id="myBtn4" class="button" >Интернет ресурсы</button>

		<!-- The Modal -->
		<div id="modal_4" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span id="close_4" class="close">&times;</span>
					<h3>Интернет ресурсы</h3>
				</div>
				<div> 
					<p class = "crl" > Физика: интерактивные плакаты - <a href="http://seninvg07.narod.ru/004_fiz_plakat.htm" target="_blank"> плакаты </a> 
					<p class = "crl" > Интерактивные плакаты презентация - <a href="https://disk.yandex.ru/d/3PQyVuccoG_eCA" target="_blank">презентация</a> </p>
					<p class = "crl" > 13 игр и приложений для изучения физики - <a href="https://newtonew.com/app/13-igr-i-prilozhenij-dlja-izuchenija-fiziki" target="_blank">играть</a> </p>
					<p class = "crl" > Рабочие листы к урокам от проекта Инфоурок - <a href="https://infourok.ru/magazin-materialov?searchQuery=%D1%84%D0%B8%D0%B7%D0%B8%D0%BA&sortType=popular" target="_blank">перейти</a> </p>
				</div>
				
				
			</div>

		</div>
	</div>
	<div>
		<img src={{ url_for('static', filename='kl.png') }}  style = "position: relative; left : 240px; top : -325px" >
	</div>
	

	<script>
		
		var modal = document.getElementById("modal_1");
		var btn = document.getElementById("myBtn");
		var span = document.getElementById("close_1");
		
 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		span.onclick = function() {
		  modal.style.display = "none";
		}

		var modal2 = document.getElementById("modal_2");
		var btn2 = document.getElementById("myBtn2");
		var span2 = document.getElementById("close_2");
		
		btn2.onclick = function() {
		  modal2.style.display = "block";
		}
		span2.onclick = function() {
		  modal2.style.display = "none";
		}
		
		var modal3 = document.getElementById("modal_3");
		var btn3 = document.getElementById("myBtn3");
		var span3 = document.getElementById("close_3");
		
		btn3.onclick = function() {
		  modal3.style.display = "block";
		}
		span3.onclick = function() {
		  modal3.style.display = "none";
		}


		var modal4 = document.getElementById("modal_4");
		var btn4 = document.getElementById("myBtn4");
		var span4 = document.getElementById("close_4");
		
		btn4.onclick = function() {
		  modal4.style.display = "block";
		}
		span4.onclick = function() {
		  modal4.style.display = "none";
		}

	</script>
	</div>
   
</body>
</html>